editdistance
numpy
opencv-python
requests
scikit-image
scikit-learn
tqdm
transformers
typing-extensions
Pillow
importlib-metadata
tensorboard==2.4.0
torch==1.6.0
torchvision==0.7.0
protobuf==3.13.0
pandas